////////   INICI0    //////////

.item {
    margin: 0 10px;
    height: 126px;
    width: 166px;
    background-color: map-get($map: $color, $key:primero );
    border-radius: 10%;
    box-shadow: 4px 4px grey;
    @include flex (row,center,center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.buscador {
    @include flex (row,space-evenly,center);
    width: 100%;
    height: 5rem;
    font-family: "Inria Sans", sans-serif;
    color: map-get($map: $color, $key:tercero )
}

.buscar_btn {
    width: 94px;
    height: 27px;
    top: 277px;
    left: 405px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: map-get($map: $color, $key:cuarto );
    font-family: "Inria Sans", sans-serif
}

////////   INICIAR SESION    //////////

.boton-inicio { 
    margin: 20px;
    background-color: map-get($map: $color, $key:cuarto );
    font-family: "Inria Sans", sans-serif
    /*preguntar por circular las puntas*/
}

////////   EMPLEOS    //////////

.card-empleo {
    width: 375%;
    height: 24%;
    background-color: map-get($map: $color, $key:quinto );
    margin: 5px;
    @include flex (column,space-evenly,flex-start);
    // flex-direction: column;
    // display: flex;
    // align-items: flex-start;
    border-radius: 10px 10px 10px 10px;

}

.parte1{
    background-color: map-get($map: $color, $key:sexto );
    width: 95%;
    height: 30%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.parte2{
    background-color: map-get($map: $color, $key:sexto );
    width: 95%;
    height: 80%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.ladoA{
    width: 100%;
    height: 100%;
    @include flex(row,space-evenly,flex-start);
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
}

.parte-1{
    background-color: map-get($map: $color, $key:sexto );
    width: 25%;
    height: 65%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    
}

.parte-2{
    background-color: map-get($map: $color, $key:sexto );
    width: 25%;
    height: 65%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.modem{
    @include flex(column,space-evenly,center);
    // // display: flex;
    // // justify-content: space-evenly;
    // // align-items: center;
    color: map-get($map: $color, $key:tercero );
}


////////   NOTICIAS    //////////

h4{
    color: map-get($map: $color, $key: tercero);
}

.noticias{
    @include grid(repeat(9,2fr),repeat(5,150px));
}
////////   MI PERFIL   //////////

.item-1 {
    background-color: map-get($map: $color, $key:primero );
    order: 3;
    width: 30%;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.item-2 {
    order: 2;
    width: 35%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.item-3 {
    order: 1;
    width: 20%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.cv { 
    margin: 20px;
    order: 1;
    height: 3.7rem ;
    width: 55%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 6px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    font-family: "Inria Sans", sans-serif;
}
