////////   INDEX    //////////

.bienvenido{
    width: 100%;
    height: 100%;
    background-color: map-get($map: $color, $key: segundo );
    align-items: center;
    }

.bienvenido h1 {
    font-family: "Inria Sans", sans-serif;
    height: 400px;
}

.bienvenido h1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

////////   INICI0    //////////

.item {
    margin: 0 10px;
    height: 126px;
    width: 166px;
    background-color: map-get($map: $color, $key:primero );
    border-radius: 10%;
    box-shadow: 4px 4px grey;
    @include flex (row,center,center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.cards h2 {
    font-family: "Inria Sans", sans-serif
}

.buscador {
    @include flex (row,space-evenly,center);
    width: 100%;
    height: 5rem;
    font-family: "Inria Sans", sans-serif;
    color: map-get($map: $color, $key:tercero );
}

.buscar_btn {
    width: 94px;
    height: 27px;
    top: 277px;
    left: 405px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: map-get($map: $color, $key:cuarto );
    font-family: "Inria Sans", sans-serif
}

.main {
    padding: 0 258px;
    height: 295px;
}

.buscar_btn:hover{
    color: map-get($map: $color, $key:sexto );
    font-style: italic;
}

.buscar_btn:focus{
    color: map-get($map: $color, $key:tercero );
    font-style: italic;  /*tipografia*/ 
    border: 1px solid orange;
    border-radius: 5px;
}
////////   INICIAR SESION    //////////

.inicio-container{
    width: 100%;
}

.datos-container{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #EEA742;*/
}

.card-datos {
    margin: 20px;
    font-family: "Inria Sans", sans-serif
    }

.boton-inicio { 
    margin: 20px;
    background-color: map-get($map: $color, $key:cuarto );
    font-family: "Inria Sans", sans-serif
    /*preguntar por circular las puntas*/
}

.boton-inicio{
    border-radius: 5px 5px 5px 5px;
}

.item1 {
    margin: 10px 0px;
    font-family: "Inria Sans", sans-serif;
}

.item3 {
    margin: 20px;
}

input{
    all: unset;
    border-bottom: 2px solid orange;
    padding-bottom: 0.125rem;
}

input:focus{
    color: map-get($map: $color, $key:tercero );
    font-style: italic;  /*tipografia*/ 
    border: 1px solid map-get($map: $color, $key: cuarto);
    border-radius: 5px;
}

.boton-inicio:hover{
    color: map-get($map: $color, $key:sexto );
    font-style: italic;
}

.item1:hover{
    color: map-get($map: $color, $key:tercero );
    font-style: italic;
}

.item1:focus{
    color: map-get($map: $color, $key:tercero );
    font-style: italic;  /*tipografia*/ 
    border: 1px solid map-get($map: $color, $key: cuarto);
    border-radius: 5px;
}

////////   EMPLEOS    //////////

.vacantecontainer{
    @include flex2 (row,center);
    width: 100%;
    margin: 10px 20px;
}

.filtro {
    height: 80%;
    width: 50%;
    background-color: map-get($map: $color, $key:quinto );
    @include flex3 (column,center);
    font-family: "Inria Sans", sans-serif;
    border-radius: 10px 10px 10px 10px;
}

.item_filtro {
    height: 0,5px;
    width: 90%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    flex-direction: row;
    align-items: center;
}

.section1{
    display: block;
    width: 20%;
    height: 400px;
}

.section2 { 
    @include flex2 (row,flex-start);
    width: 48%;
    height: 50%;
    /* background-color: #EEA742; */
    font-family: "Inria Sans", sans-serif;
}

.card-empleo {
    width: 375%;
    height: 24%;
    background-color: map-get($map: $color, $key:quinto );
    margin: 5px;
    @include flex (column,space-evenly,flex-start);
    border-radius: 10px 10px 10px 10px;
}

.parte1{
    background-color: map-get($map: $color, $key:sexto );
    width: 95%;
    height: 30%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.parte2{
    background-color: map-get($map: $color, $key:sexto );
    width: 95%;
    height: 80%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.ladoA{
    width: 100%;
    height: 100%;
    @include flex(row,space-evenly,flex-start);
}

.parte-1{
    background-color: map-get($map: $color, $key:sexto );
    width: 25%;
    height: 65%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;   
}

.parte-2{
    background-color: map-get($map: $color, $key:sexto );
    width: 25%;
    height: 65%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.modem{
    @include flex(column,space-evenly,center);
    color: map-get($map: $color, $key:tercero );
}


////////   NOTICIAS    //////////

h4{
    color: map-get($map: $color, $key: tercero);
}

.noticias{
    @include grid(repeat(9,2fr),repeat(5,150px));
}

.noticias1{
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    order: 1;
    margin: 10px;
}

.noticias2{
    grid-column: 4 / 6;
    grid-row: 2 / 5;
    order: 2;
    margin: 10px ;
}

.noticias3{
    grid-column: 7 / 9;
    grid-row: 2 / 5;
    order: 3;
    margin: 10px;
}

////////   MI PERFIL   //////////

.todo {
    width: 100%;
}

.datospersonales {
    width: 100%;
    height: 22rem;
    @include flex (row,space-around,center);
    font-family: "Inria Sans", sans-serif ;
}

.item-1 {
    background-color: map-get($map: $color, $key:primero );
    order: 3;
    width: 30%;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.item-2 {
    order: 2;
    width: 35%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.item-3 {
    order: 1;
    width: 20%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.cv { 
    margin: 20px;
    order: 1;
    height: 3.7rem ;
    width: 55%;
    background-color: map-get($map: $color, $key:segundo );
    padding: 6px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    font-family: "Inria Sans", sans-serif;
}

.datospersonales-1 {
    width: 100%;
    height: 5rem;
    @include flex (row,space-evenly,center);
    font-family: "Inria Sans", sans-serif ;
}

